<p>traitement works!</p>
{{klass | uppercase}}
<input type="submit" value="show Msg" (click)="changeColor()">
<div [style.backgroundColor]="kolor">
    my div
</div>
<input type="text" [(ngModel)]="kolor">
<div *ngFor="let p of listProdcut">
    <div *ngIf="p.quantity!=0">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
    </div>
</div>
<hr>
<div *ngFor="let p of listProdcut">
    <div *ngIf="p.quantity ==0">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
        <input type="submit" value="buy" disabled>
    </div>
    <div *ngIf="p.quantity !=0">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
        <input type="submit" value="buy">
    </div>
</div>
<hr>
<div *ngFor="let p of listProdcut">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
        <input type="submit" value="buy" [disabled]="p.quantity==0">

</div>

<hr>
<h4>seance 01/04/2023</h4>
<div *ngFor="let p of listProdcut">
    <div *ngIf="p.quantity==0">
        <span [style.backgroundColor]="'red'">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
        <input type="submit" value="buy" [disabled]="p.quantity==0">
    </span>
    </div>
    <div *ngIf="p.quantity!==0">
        <span [style.backgroundColor]="'green'">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
        <input type="submit" value="buy" [disabled]="p.quantity==0">
    </span>
    </div>
</div>
<hr>
<input type="text" [(ngModel)]="search">
<div *ngFor="let p of listProdcut; let i=index">
    <span *ngIf="p.title==search ||search==''">
    <div [ngStyle]="{'backgroundColor':p.quantity==0 ?'red':'green'}">
    {{p.id}}
    {{p.title}}
    {{p.quantity}}
    <a [routerLink]="['/detail/',p.id]">detail product</a>
    <input type="submit" value="buy" [disabled]="p.quantity==0" (click)="decreaseQauntity(i)">
</div>
</span>
</div>